/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {
    font-family: 'Roboto Slab', serif;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.section-padding{
    padding: 50px 0;
}
.top_menu ul.nav.navbar-nav {
    float: none;
    text-align: left;
}
.top_menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
}
.top_menu ul.nav.navbar-nav li a {
    color: #fff;
}
#top_bar {
    background: #006cb0 none repeat scroll 0 0;
    height: 60px;
    padding: 10px 0;
}
.right-top-menu i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.right-top-menu span {
    background-color: #0091D2;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
}
.search-menu {
    float: left;
}
.right-top-menu a {
    float: left;
    padding-right: 10px;
    color: #ffffff;
}
button {
    background: #0091d2 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-menu input {
    background: #0091d2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 8px;
}
#main-menu {
    background: #0091d2 none repeat scroll 0 0;
    padding: 15px 0;
}
.nav_menu ul.nav.navbar-nav {
    float: none;
    text-align: left;
}
.nav_menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
}
.nav_menu ul.nav.navbar-nav li a {
    color: #fff;
    text-transform: capitalize;
}
.single-offer i {
    border: 3px solid #0091d2;
    border-radius: 50%;
    color: #0091d2;
    font-size: 72px;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
}
.offer-section h5 {
    color: #0091d2;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.single-offer {
    margin-left: 10px;
}
.offer-section {
    border-top: 1px solid gray;
    padding: 50px 0;
}


